<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= capitalCategory %></title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1><%= capitalCategory %></h1>
    <ul>
        <% menuItems.forEach((item) => { %>
            <li> <span style="text-decoration: underline;"><strong><%= item.name %></strong></span> | $<%= item.price %> <span style="float: right;">Rating: <%= item.rating %></span> <br><span style="padding: 5%  0 5% 0; margin-right: 10%;"><em><%= item.details %></em></span></li>
        <% }); %>
    </ul>
</body>

</html>