<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <ul>
        <% menu.forEach((item) => { %>
            <% if (item.rating === 5) { %>
                <li><span style="text-decoration: underline;"><strong><%= item.name %></strong></span> | $<%= item.price %> ⭐<span style="float: right;">Rating: <%= item.rating %></span> <br><span style="padding: 5%  0 5% 0; margin-right: 10%;"><em><%= item.details %></em></span></li>
            <% } else { %>
                <li><span style="text-decoration: underline;"><strong><%= item.name %></strong></span> | $<%= item.price %> <span style="float: right;">Rating: <%= item.rating %></span> <br><span style="padding: 5%  0 5% 0; margin-right: 10%;"><em><%= item.details %></em></span></li>
            <% } %>
        <% }); %>
    </ul>
</body>

</html>